.slider {
  @apply appearance-none w-full rounded-lg bg-secondary-300 outline-none  transition-opacity duration-200;
}

.slider::-webkit-slider-thumb {
  @apply appearance-none w-5 h-5 bg-primary-default rounded-full cursor-pointer active:scale-125 transition-all;
  box-shadow: 0px 0px 0px 4px white;
}

.slider::-moz-range-thumb {
  @apply w-5 h-5 bg-primary-default rounded-full cursor-pointer active:scale-125;
  box-shadow: 0px 0px 0px 4px white;
}

.slider::-webkit-slider-runnable-track {
  @apply h-4 rounded-lg;
  background: linear-gradient(
    to right,
    #3563e9 var(--thumb-percent),
    #90a3bf 0
  );
}
